---
---

        /* Stylování pro sekci rubrik */
        .categories {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .category {
            text-align: center;
            width: 120px;
        }

        /* Odstranění zakulacení obrázků */
        .category img {
            max-width: 100%;
            height: auto;
            border: none; /* Odstranění rámečku */
        }

        .category span {
            display: block;
            margin-top: 10px;
            font-size: 1.2em;
            font-weight: bold;
        }

@import "type-on-strap";
