---
layout: default
---

<div class="row" style="margin-top:30px;">
    <!-- Zde začíná výpis rubrik -->
    {% for rubrika in site.data.rubriky %}
    <div class="col-md-2 col-sm-6 text-center">
    <a href="{{ site.baseurl }}/{{ rubrika.name }}/" class="rubrika-link">
    <img src="{{ site.baseurl }}{{ rubrika.icon }}" alt="{{ rubrika.title }}" class="img-fluid" style="height: 48px;">
    <p>{{ rubrika.title }}</p>
    </a>
    </div>
    {% endfor %}
    <!-- Konec výpisu rubrik -->
    </div>

<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>

    <div class="article-post">
    {{content}}
    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>